.messageContainer {
    width: 100%;
    background-color: #333333;
    border-radius: 0.3rem;

    display: grid;
    grid-template-columns: calc(3rem + 20px) 1fr;

    .authorAvatar {
        margin: 10px;

        img {
            width: 3rem;
            border-radius: 50%;
        }
    }

    .message {

        .messageInformation {
            margin: 10px 10px 0 10px;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            .messageAuthor {
                div {
                    font-weight: 700;
                }
            }

            .messageTime {
                font-size: 0.7rem;
                align-self: flex-end;
            }
        }

        .messageContent {
            margin: 0px 10px 10px 10px;
        }
    }
}