.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin: 2rem 0;

    .titleContainer {
        display: flex;
        flex-direction: row;

        gap: 0.5rem;

        .title {
            font-weight: bold;
            font-size: 1.2rem;
        }

        .switcher {
            font-family: "Roboto Mono", monospace;
            font-size: 0.8rem;
            color: var(--green1);
            cursor: pointer;
        }
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        gap: 1rem;

        .inputField {
            background-color: var(--black1);
            outline: none;
            border-style: none;

            font-family: "Roboto Mono", monospace;
            font-size: 1rem;
            border-radius: 0.65rem;
            padding: 0.5rem 0.7rem;
            width: 100%;
        }

        input[type="submit"] {
            width: 60%;
            outline: none;
            border-style: none;
            font-family: "Roboto Mono", monospace;
            background-color: var(--black1);
            border-radius: 0.65rem;
            padding: 0.5rem 0.7rem;
            font-size: 1rem;
            width: 105%;
        }

        .optionsContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-self: flex-start;

            font-family: "Roboto Mono", monospace;

            .rememberMeContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.3rem;
                cursor: pointer;

                label {
                    font-size: 1.1rem;
                    cursor: pointer;
                }

                input[type="checkbox"] {
                    cursor: pointer;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: var(--black1);
                    margin: 0;

                    font-family: inherit;
                    color: currentColor;
                    width: 1rem;
                    height: 1rem;
                    border: none;
                    border-radius: 0;

                    display: grid;
                    place-content: center;
                }

                input[type="checkbox"]::before {
                    content: "";
                    width: 0.90rem;
                    height: 0.90rem;
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    box-shadow: inset 1rem 1rem var(--green1);
                    clip-path: path("M3.5 4.5L0 7.5L5.5 11.5L13.4999 3.5L10.5 0.5L5.49992 6.5L3.5 4.5Z");
                }

                input[type="checkbox"]:checked::before {
                    transform: scale(1)
                }
            }

            .forgotPw {
                color: var(--green1);
                font-size: 0.85rem;
                cursor: pointer;
            }
        }
    }
}