.container {
    background-color: var(--gray1);
    width: 35%;
    border-radius: 0.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;

        margin: 1.5rem 0;
    }
}