.messageContainer {
    width: 100%;
    // height: 90%;
    /* border: 0.3rem solid #0c0c0c; */
    background-color: #222222;
    border-radius: 0.3rem;

    .messageConteiner2 {
        margin: 1rem 1rem 1rem 1rem;
        height: 95%;
        display: flex;
        gap: 0.35rem;
        flex-direction: column;
    }
}